@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;

  --color-base-white: #fff;
  --color-base-00: #065E7C;
  --color-base-01: #387E96;
  --color-base-03: #F4FCFF;

  --color-text-01: #fff;
  --color-text-02: #202024;
  --color-text-03: #121214;
}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  /* background-color: #065E7C; */
}

main,
article {
  background: var(--color-base-03);
}

h1,
h2,
p {
  color: var(--color-text-02);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}

h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.container {
  /* padding: 1.6rem 3.2rem; */
  width: min(1218px, 100%);
  margin: 0 auto;
}

/* .app>* {
  border: 1px solid tomato;
} */

.app {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';

  grid-template-rows: max-content 1fr max-content;

  height: 100vh;
  /* gap: 3.2rem; */

  /* min-width: 375px; */
}

header {
  grid-area: header;
  background: var(--color-base-00);
}

.header {
  display: flex;
  gap: 2.6rem;
  padding: 1.6rem 3.2rem;

  align-items: center;

  --startY: -100%;
  animation: move .3s;
}

.logo {
  display: flex;
  background: #F4FCFF;
  height: 4.0rem;
  width: 4.0rem;

  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.avatar img {
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;

  object-fit: cover;
}

header form {
  flex: 1;
  /* max-width: 1083px; */
}

.input-wrapper {
  position: relative;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background-color: var(--color-base-01);
  border: none;
  border-radius: .6rem;
  color: var(--color-text-01);

  font-family: Mulish;
  font-weight: 600;

  outline: 1px solid var(---color-base-00);
}

.input-wrapper input::placeholder {
  color: var(--color-text-01);
}

main {
  grid-area: main;
}

.main {
  padding: 0 3.2rem;
}

.main-container img {
  width: 100%;
  /* min-width: 8.4rem;
  max-width: 80.3rem; */
  object-fit: cover;
}


/* PONTO */

.main-container section {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem 2.2rem;
}

.title {
  display: flex;
  gap: .8rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  height: 4.0rem;
  width: 4.0rem;
  border-radius: 50%;
  border: none;
  background: var(--color-base-00);
  color: var(--color-text-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button>img {
  height: 1.6rem;
  width: 1.6rem;
}

button:hover {
  cursor: pointer;
  background: var(--color-base-01);
}

article {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0 2.2rem 3.2rem;
  min-width: 43.0rem;
}



figure {
  display: flex;
  gap: 1.6rem;
  --delay: .2s;
  animation: appear .4s var(--delay) backwards;
}

figure img {
  width: 40%;
  align-self: center;

}

figcaption {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

figcaption>p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 160%;
}

footer {
  grid-area: footer;

  background: var(--color-base-01);
  padding: 1.6rem;
}

footer p {
  color: var(--color-text-01);
  text-align: center;
  font-weight: 600;
}

footer p {
  --startY: 100%;
  animation: move .3s;
}

@keyframes move {
  from {
    transform: translateY(var(--startY))
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}

@media (min-width: 768px) {

  .main {
    display: grid;
    grid-template-areas:
      'main main sidebar';
  }

  article {
    padding: 3.2rem 2.2rem;
    max-width: 43.0rem;
  }

  .main-container>img:first-child {
    padding: 3.2rem 2.2rem 0;
  }

}